<!--
Created on Tue Aug 29 15:25:26 2023

@author: cem
-->
<script>
    function filterFunct(elem, list_url) {
    /* displays the account list on a given div, query performed on data typed on given inp */
        var fd = new FormData();
        var dropdown = $(elem).parents('form').find('select');
        fd.append("name", $(elem).parents('form').find("#obj_name").val());
        console.log($("#obj_name").val())
        $.ajax({
            type: "POST",
//            url: "{{list_url}}",
            url: list_url,
            data: fd,
            processData: false,
            contentType: false,
            success: function(result){
//                 $("#obj-list").html(result)
//                $("#dropdown").empty();
                result =  JSON.parse(result);
                console.log(result);
                dropdown.empty();
                var sz = result.length;
                if (sz > 10) {sz = 10};
//                $("#dropdown").attr('size', sz);
                dropdown.attr('size', sz);
                console.log(sz);                
                
                $.each(result, function(){
//                    $("#dropdown").append("<option value=" + this.id +">" + this.name + "</option>")
                    dropdown.append("<option value='" + JSON.stringify(this.id) +"'>" + this.name + "</option>")
                });                  
                
            }
        });
    };

    function selectObj(elem) {
            $(elem).parents('form').find("#obj_name").val($(event.target).text());
            $(elem).parents('form').find("#obj_id").val($(event.target).val());
            $(elem).parents('form').find("#btn-srch").focus()
     };
</script>
<!--
          <form  class="form hp-srch" action = "/attendance" method = "POST"> 
-->
<!--
              <div class="row input-group">
-->
              <div class="input-group-append">
<!--
                 <input type = "text" class="form-control input-lg ml-4 pl-3" name="obj_name
-->
                 <input type = "text"  name="obj_name" id="obj_name" 
                 onkeyup="filterFunct(this, '{{list_url}}')" 
                 placeholder="{{obj_placeholder}}" autocomplete="off"/>
                 <input type="hidden" name="obj_id" id="obj_id" class="acc-list" />
<!--
                 <button type="submit" class="btn btn-secondary btn-lg" id="btn-srch">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                    {{btn_content}}
                </button>
 -->   
                    <input type='submit' id='tag-submit' form='tag-add' class='btn-aksiyon' value='{{btn_content}}'>
              </div>
            <div class="acc-list obj-list" id="obj-list" onclick="selectObj(this)" ondblclick="selectObj(this); $(this).parents('form').submit()">
                <select id="slct-obj">
                </select>
            </div>
<!--
          </form> 
-->


