{% extends "layout.html" %}
{% block styles %}
    {{super()}}
{% endblock %}
{% block content %}  

<script type="text/javascript">
    function displaySlcts() {
        AddRm = "{{ToggleAddRmRcpt}}"
        Close = "{{CloseAddRm}}"
        $("#aud-selectors").toggle()
        if ($(".aud-selectors").css("display") === "none"){
            $("#toggle-aud-slct").text(AddRm)
        }
        else {
            $("#toggle-aud-slct").text(Close)
        }
    }
    function displaySlcts_tags() {
        AddRm = "{{ToggleAddRmTags}}"
        Close = "{{CloseAddRm}}"
        $(".tag-selectors").toggle()
        if ($("#tag-selectors").css("display") === "none"){
            $("#toggle-tag-slct").text(AddRm)
        }
        else {
            $("#toggle-tag-slct").text(Close)
        }
    }

</script>

       <div class="row">
         <div class="container container-routing mt-3  pb-4 col-xl-8">
<!--
            <button type="button" class="btn-close close text-right" onclick="window.open('', '_self', ''); window.close();">x</button>
-->
        
<!-- THREAD LIST -->
            <h4>{{obj.type}}: {{obj.name}}</h4>
            {% if exception %}
                <div class="exc-display">exception</div>
            {% endif %}
                <h5>{{labels.RtgsTitle}}</h5>
                <ul class="list-group">
                    {% for thread in threads %}
                        <li class="list-group-item">
                            <a class="akv-link" href="/edit_thread?otype={{obj.type}}&oid={{obj.oid}}&thread_id={{thread._id}}" >
                            {% if session.user.userid in thread.unread %} <b> {% endif %}
                                {{thread.audlist}}-{{thread.messages[0].time.strftime("%d/%m/%y-%H:%M")}}:{{thread.messages[0].message[:150]}}
                            {% if session.user.userid in thread.unread %} </b> {% endif %}  
                            </a>                          
                        </li>
                    {% endfor %}
                </ul>
                <div>
                    <a class="akv-link" href="/edit_thread?otype={{obj.type}}&oid={{obj.oid}}&thread_id=0">{{labels.NewMsg}}</a>
                </div>
            </div>    

        <!-- My Messages area -->
        <div class="col-xl-4 container-routing container-messages mt-3">
            <h4>{{labels.MyMsgsTitle}}</h4>
            <ul class="list-group user-threads">
                {% for thread in user_threads %}
                    <li class="list-group-item">
                        <a class="akv-link" href="/routing_form?otype={{thread.obj_type}}&oid={{thread.obj_id}}&thread_id={{thread._id}}" >
                        {% set unread_ids = [] %}
                        {% for x in thread.unread %}
                            {% set unread_ids = unread_ids + [x["id"]] %}
                        {% endfor %}
                        {% if session.user.userid in unread_ids %} <b> {% endif %}

                        
                        <p class="m-1">{{thread.obj_type}}: {{thread.obj_name}}</p>
                        <p class="m-1">{{thread.lastm.user.username}}-{{thread.lastm.time.strftime("%d/%m/%y-%H:%M")}}:</p>
                        <p class="m-1 ml-3">{{thread.lastm.message[:150]}}</p>

                        {% if session.user.userid in unread_ids %} </b> {% endif %}  
                    </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
